:root {
    --background: #1a0d04;
    --text-header: saddlebrown;
    --text-body: sandybrown;
}

body {
    color: var(--text-body);
    font-size: 30px;
    font-family: "Protest Riot";

    background: var(--background);
}

h1, h2 {
    color: var(--text-header);
}
h1 { font-size: 50px; }
h2 { font-size: 40px; }

button {
    margin: 20px;
    padding: 10px;

    border: none;

    font-size: 30px;
    color: var(--text-body);
    font-family: "Protest Riot";

    background: var(--text-header);

    cursor: pointer;
}

.section {
    margin-top: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.column { flex-direction: column; }
.row { flex-direction: row; }

#agatha {
    width: 30%;
    min-height: 400px;

    background: grey;
}

#happiness_meter {
    height: 50px;
    width: 50%;

    border: 4px solid var(--text-body);
}

#happiness_meter_inner {
    height: 100%;

    background: var(--text-body);
}